# Public Docker repository - the image does not contain sensitive data.
# All secrets are in environement variables.
PUBLIC_REPOSITORY=mgbi

# Fixed Sentry version
SENTRY_IMAGE=9.1.2

# Run `docker-compose run web config generate-secret-key`
# to get the SENTRY_SECRET_KEY value.
SENTRY_SECRET_KEY=


#####
# Smtp
#####

SENTRY_EMAIL_HOST=
SENTRY_EMAIL_PORT=
SENTRY_EMAIL_USER=
SENTRY_EMAIL_PASSWORD=
SENTRY_EMAIL_USE_TLS=


#####
# PostgreSQL
#####

# Host name and port, where a PostgreSQL database container is running.
# The same host name is used in docker-compose.yml file
SENTRY_POSTGRES_HOST=postgres
SENTRY_POSTGRES_PORT=5432

# Name and access data for the main database automatically created by
# the PostgreSQL container
SENTRY_DB_NAME=sentry
SENTRY_DB_USER=sentry
# *Rancher secret* User passworh for the main database
SENTRY_DB_PASSWORD=


#####
# GitHub OAuth2
#####
GITHUB_APP_ID=
GITHUB_API_SECRET=


#####
# Let's Encrypt
#####
DOMAIN=
ADMIN_EMAIL=
